@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

    /* shared style */
.display-flex{
    display: flex;
}
.dark-01{
    color: rgba(19, 19, 19, 1);
}
.dark-02{
    color: rgba(66, 66, 66, 1);
}
.dark-03{
    color: rgba(114, 114, 114, 1);;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);;
}
.common-btn{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color:#ff900eFF;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

    /* navbar styles */
.navbar{
    max-width: 1452px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-size: 3rem;
    font-weight: 700;
}
.links{
    list-style: none;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
}
.links a{
    text-decoration: none;
}

    /* banner styles */
.banner-container{
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.banner-content{
    max-width: 862px;
    width: 100%;
    margin: 0px auto;
}
.banner-content h3{
    font-size: 4rem;
    font-weight: 700;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner-content button{
    margin-bottom: 50px;
    font-size: 1.2rem;
    font-weight: 600;
}
.banner-container img{
    width: 100%;
}

    /* responsive media query */
@media screen and (max-width: 576px){
    .navbar, 
    .links{
        flex-direction: column;
    }
}