@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

    /* shared style */
.display-flex{
    display: flex;
}
.dark-01{
    color: rgba(19, 19, 19, 1);
}
.dark-02{
    color: rgba(66, 66, 66, 1);
}
.dark-03{
    color: rgba(114, 114, 114, 1);;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);;
}

    /* header styles */
header{
    max-width: 1452px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-size: 45px;
    font-weight: 700;
}
.links{
    list-style: none;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
}
.links a{
    text-decoration: none;
}